<plugin name='elasticsearch' version='0.90.3.3-IS-SNAPSHOT' grailsVersion='1.3.0 &gt; *'>
  <author>Manuarii Stein</author>
  <authorEmail>mstein@doc4web.com</authorEmail>
  <title>Elastic Search Plugin</title>
  <description>[Elastic Search|http://www.elasticsearch.com] is a distributed, RESTful service for full text search. This plugin provides a Grails-friendly API for the service based on the tremendously successful [Searchable plugin|/plugin/searchable]. It even provides an embedded version of the service for easy testing and development.</description>
  <documentation>http://smaldini.github.com/elasticsearch-grails-plugin/docs/guide/index.html</documentation>
  <type>ElasticsearchGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>DefaultElasticSearch</resource>
    <resource>ElasticsearchBootStrap</resource>
    <resource>org.grails.plugins.elasticsearch.ElasticSearchAdminService</resource>
    <resource>org.grails.plugins.elasticsearch.ElasticSearchService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://oss.sonatype.org/content/repositories/releases/' url='http://oss.sonatype.org/content/repositories/releases/' />
    <repository name='http://oss.sonatype.org/content/repositories/snapshots/' url='http://oss.sonatype.org/content/repositories/snapshots/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.elasticsearch' name='elasticsearch-lang-groovy' version='1.5.0' />
      <dependency group='org.elasticsearch' name='elasticsearch' version='0.90.3' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.4' />
    </compile>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.4' />
    </build>
  </plugins>
  <runtimePluginRequirements>
    <plugin name='domainClass' version='1.0 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>