<plugin name='elasticsearch' version='0.19.4-SNAPSHOT' grailsVersion='2.1.0 &gt; *'>
  <author>Manuarii Stein</author>
  <authorEmail>mstein@doc4web.com</authorEmail>
  <title>Elastic Search Plugin</title>
  <description>[Elastic Search|http://www.elasticsearch.com] is a distributed, RESTful service for full text search. This plugin provides a Grails-friendly API for the service based on the tremendously successful [Searchable plugin|/plugin/searchable]. It even provides an embedded version of the service for easy testing and development.</description>
  <documentation>http://smaldini.github.com/elasticsearch-grails-plugin/docs/guide/index.html</documentation>
  <type>ElasticsearchGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>DefaultElasticSearch</resource>
    <resource>ElasticsearchBootStrap</resource>
    <resource>org.grails.plugins.elasticsearch.ElasticSearchAdminService</resource>
    <resource>org.grails.plugins.elasticsearch.ElasticSearchService</resource>
    <resource>test.RoleConverter</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://oss.sonatype.org/content/repositories/releases/' url='http://oss.sonatype.org/content/repositories/releases/' />
    <repository name='Codehaus' url='http://repository.codehaus.org/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='joda-time' name='joda-time' version='2.0' />
      <dependency group='org.codehaus.jackson' name='jackson-mapper-asl' version='1.8.5' />
      <dependency group='javax.mail' name='mail' version='1.4.5' />
      <dependency group='org.igniterealtime.smack' name='smack' version='3.1.0' />
      <dependency group='org.apache.httpcomponents' name='httpclient' version='4.1' />
      <dependency group='org.codehaus.groovy' name='groovy-xmlrpc' version='0.7' />
      <dependency group='mysql' name='mysql-connector-java' version='5.1.18' />
      <dependency group='org.apache.httpcomponents' name='httpcore' version='4.1' />
      <dependency group='org.springframework' name='spring-test' version='3.1.0.RELEASE' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='jquery' version='1.7.2' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.0' />
      <plugin group='org.grails.plugins' name='rest' version='0.7' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='selenium' version='0.8' />
      <plugin group='org.grails.plugins' name='google-analytics' version='1.0' />
      <plugin group='org.grails.plugins' name='jquery-ui' version='1.8.15' />
      <plugin group='org.grails.plugins' name='facebook-sdk' version='0.3.2' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>